# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Mapbox
EXPO_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiLi4uIn0...

# Expo
EXPO_PUBLIC_APP_ENV=development
